<%-include("./inc/head.ejs")%>
<%-include("./inc/nav.ejs")%>
    <!-- Breadcrumb Section Start -->
    <style>
        .portfolio-item img {
    width: 50vh;
    height: 50vh;
    object-fit: cover; /* Resim oranını korurken belirtilen boyutlara sığdırma işlemi */
}

    </style>
    <div class="breadcrumb" data-bg-image="https://images.unsplash.com/photo-1607582544644-f1da2a004994?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <h1 class="breadcrumb_title">Luxten Categories</h1>
                        <ul class="breadcrumb_list">
                            <li><a href="/">Home</a></li>
                            <li>Categories</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->
    <div style="margin: 50px;">
        <!-- Projects Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="section-title text-center">
            <h1 class="display-5 mb-5">Us Projects</h1>
        </div>
        <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.3s">
            <div class="col-12 text-center">
                <ul class="list-inline mb-5 d-flex flex-wrap" id="portfolio-flters">
                    <li class="mx-2 active" role="button" data-filter="*">All</li>
                    <% categories.forEach(category => { %>
                        <li class="mx-2" role="button" data-filter=".<%= category._id %>"><%= category.name %></li>
                    <% }); %>
                </ul>
            </div>
        </div>
        <div class="row g-4 portfolio-container">
            <% products.forEach(product => { %>
                <div class="col-lg-4 col-md-6 portfolio-item <%= product.category %> wow fadeInUp" data-wow-delay="0.1s">
                    <div class="rounded overflow-hidden">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="<%= product.imageUrl %>" alt="<%= product.name %> Resmi">
                            <div class="portfolio-overlay">
                                <a class="btn btn-square btn-outline-light mx-1" href="<%= product.imageUrl %>" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            </div>
                            </div>
                        <div class="border border-5 border-light border-top-0 p-4">
                            <p class="text-primary fw-medium mb-2"><%= product.name %></p>
                            <h5 class="lh-base mb-0"><%= product.description %></h5>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</div>
<!-- Projects End -->
                        </div>
                       
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- Product Section End -->

</div>
    <!-- Scroll Top Start -->
    <a href="#/" class="scroll-top" id="scroll-top">
        <i class="lastudioicon-up-arrow"></i>
    </a>
    <!-- Scroll Top End -->

<%-include("./inc/footer.ejs")%>

<%-include("./inc/script.ejs")%>
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/wow/wow.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/counterup/counterup.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/isotope/isotope.pkgd.min.js"></script>
<script src="lib/lightbox/js/lightbox.min.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
</body>

</html>