<%-include("./inc/head.ejs")%>
<%-include("./inc/nav.ejs")%>


    <!-- Slider Section Strat -->
    <div class="custom-container-three container-fluid">
        <div class="container-three-inner">
            <div class="slider-section slider-active overflow-hidden">
                <div class="swiper">
                    <div class="swiper-wrapper">

                        <!-- Single Slider Start -->
                        <div class="swiper-slide single-slider-05 animation-style-05" style="background-image: url('https://images.unsplash.com/photo-1601918774946-25832a4be0d6?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
                            <!-- Slider Content Start -->
                            <div class="slider-content-05">
                                <h1 style="color: #ffffff; text-shadow: #000 1px 0 10px;" class="slider-content-05__title">Welcome Luxten Park</h1>
                                <a style="background-color: #BC8157; border-color: #BC8157; color: #fff; border-radius: 5px;" class="slider-content-05__btn btn slider-btn-01" href="/category">Catalog</a>
                            </div>
                            <!-- Slider Content Start -->
                        </div>

                        <!-- Single Slider End -->

                        <!-- Single Slider Start -->
                        <div class="swiper-slide single-slider-05 animation-style-05" style="background-image: url('https://images.unsplash.com/photo-1591825729269-caeb344f6df2?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
                            <!-- Slider Content Start -->
                            <div class="slider-content-05">
                                <h1 style="color: #ffffff; text-shadow: #000 1px 0 10px;" class="slider-content-05__title">Tiny House Selling.</h1>
                                <a style="background-color: #BC8157; border-color: #BC8157; color: #fff; border-radius: 5px;" class="slider-content-05__btn btn slider-btn-01" href="/">Catalog</a>
                            </div>
                            <!-- Slider Content Start -->
                        </div>
                        <!-- Single Slider End -->

                        <!-- Single Slider Start -->
                        <div class="swiper-slide single-slider-05 animation-style-05" style="background-image: url('https://images.unsplash.com/photo-1632252300695-97c54a0db8e4?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
                            <!-- Slider Content Start -->
                            <div class="slider-content-05">
                                <h1 style="color: #ffffff; text-shadow: #000 1px 0 10px;" class="slider-content-05__title">Tell Your Want Tiny House <br> Luxten Park.</h1>
                            </div>
                            <!-- Slider Content Start -->
                        </div>
                        <!-- Single Slider End -->

                    </div>
                    <div class="slider-arrow-two">
                        <div class="swiper-button-next"><i class="lastudioicon-left-arrow"></i></div>
                        <div class="swiper-button-prev"><i class="lastudioicon-right-arrow"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider Section End -->


<div style="width: 100%; height: 50px;" class="wrapper">
    
</div>
<%-include("./inc/category.ejs")%>
<%-include("./inc/trend.ejs")%>

<div style="width: 100%; height: 200px;" class="wrapper">
    
</div>
 
 <%-include("./inc/new.ejs")%>


    <!-- Why Choose Section Start -->
    <div class="section-padding-03 custom-container-four container-fluid why-choose">
        <div class="row">
            <div class="col-xl-6 col-lg-5">
                <div class="why-choose-images">
                    <div class="why-choose-bg">
                        <span></span>
                    </div>
                    <div class="why-choose-image1">
                        <img src="https://images.unsplash.com/photo-1595521624992-48a59aef95e3?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image">
                    </div>
                    <div class="why-choose-image2">
                        <img src="https://images.unsplash.com/photo-1551927411-95e412943b58?q=80&w=1349&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7 align-self-center">
                <div class="why-choose-content">
                    <div class="why-choose-head">
                        <span class="why-choose-subtitle">Luxten Park</span>
                        <h2 class="why-choose-title">Why Us Service?</h2>
                    </div>

                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <i class="lastudioicon lastudioicon-down-arrow"></i>
                                    <span>Full Time Service</span>
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">example text, example text, example text, example text, example text, example text, example text, example text, example text</div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <i class="lastudioicon lastudioicon-down-arrow"></i>
                                    <span>Quality Material</span>
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    We're use high quality materials.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="lastudioicon lastudioicon-down-arrow"></i>
                                    <span>Example Text</span>
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Example Text, Example Text, Example Text, Example Text, Example Text, Example Text, Example Text, Example Text
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Why Choose Section End -->

    <!-- Testimonial Section Strat -->
    <div class="customer-review" data-bg-image="https://images.unsplash.com/photo-1556740714-a8395b3bf30f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80">
        <h5 class="customer-review-title">What Tell About Us?</h5>
        <div class="customer-review-mark">
            <svg xmlns="http://www.w3.org/2000/svg" width="62" height="20" fill="none" viewbox="0 0 62 20">
                <path fill="#BC8157" d="M6 4l1.347 4.146h4.36L8.18 10.708l1.347 4.146L6 12.292l-3.527 2.562 1.347-4.146L.294 8.146h4.359L6 4zM31 0l2.245 6.91h7.266l-5.878 4.27 2.245 6.91L31 13.82l-5.878 4.27 2.245-6.91-5.878-4.27h7.266L31 0zM56 4l1.347 4.146h4.36l-3.527 2.562 1.347 4.146L56 12.292l-3.527 2.562 1.347-4.146-3.526-2.562h4.359L56 4z"></path>
            </svg>
        </div>
    </div>
    <div class="testimonial-section pb-10">

        <!-- Testimonial Active Start -->
        <div class="testimonial-active-two">
            <div class="swiper">
                <div class="swiper-wrapper">

                    <!-- swiper-slide start -->
                    <!-- Testimonial Item Start -->
                    <div class="swiper-slide">
                        <div class="testimonial-two text-center">
                            <div class="testimonial-two_image">
                                <img width="56" height="56" src="https://randomuser.me/api/portraits/women/22.jpg" style="border-radius: 50%;" alt="Author">
                            </div>
                            <span class="testimonial-two_name">Midel Rocki</span>
                            <span class="testimonial-two_position">Russion, Moscow</span>
                            <div class="testimonial-two_quote">
                                <svg width="30" height="30" viewbox="0 0 19 16" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.203 16c2.034 0 3.594-1.7 3.594-3.752 0-2.124-1.356-3.61-3.255-3.61-.339 0-.813.07-.881.07C3.864 6.442 5.831 3.611 8 2.124L5.492 0C2.372 2.336 0 6.3 0 10.62 0 14.087 1.966 16 4.203 16zm11 0c2.034 0 3.661-1.7 3.661-3.752 0-2.124-1.423-3.61-3.322-3.61-.339 0-.813.07-.881.07.271-2.266 2.17-5.097 4.339-6.584L16.492 0C13.372 2.336 11 6.3 11 10.62c0 3.468 1.966 5.38 4.203 5.38z" fill="currentColor" fill-rule="nonzero"></path>
                                </svg>
                            </div>
                            <p class="testimonial-two_text">We are like your services.</p>
                        </div>
                    </div>
                    <!-- Testimonial Item End -->
                    <!-- Testimonial Item Start -->
                    <div class="swiper-slide">
                        <div class="testimonial-two text-center">
                            <div class="testimonial-two_image">
                                <img width="56" height="56" src="https://img.lovehabibi.com/11059102/m/22080217444918f0.jpg" style="border-radius: 50%;" alt="Author">
                            </div>
                            <span class="testimonial-two_name">Novruz Salmanov</span>
                            <span class="testimonial-two_position">Azərbaycan, Bakı</span>
                            <div class="testimonial-two_quote">
                                <svg width="30" height="30" viewbox="0 0 19 16" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.203 16c2.034 0 3.594-1.7 3.594-3.752 0-2.124-1.356-3.61-3.255-3.61-.339 0-.813.07-.881.07C3.864 6.442 5.831 3.611 8 2.124L5.492 0C2.372 2.336 0 6.3 0 10.62 0 14.087 1.966 16 4.203 16zm11 0c2.034 0 3.661-1.7 3.661-3.752 0-2.124-1.423-3.61-3.322-3.61-.339 0-.813.07-.881.07.271-2.266 2.17-5.097 4.339-6.584L16.492 0C13.372 2.336 11 6.3 11 10.62c0 3.468 1.966 5.38 4.203 5.38z" fill="currentColor" fill-rule="nonzero"></path>
                                </svg>
                            </div>
                            <p class="testimonial-two_text">We are like your services.</p>
                        </div>
                    </div>
                    <!-- Testimonial Item End -->
                    <!-- Testimonial Item Start -->
                    <div class="swiper-slide">
                        <div class="testimonial-two text-center">
                            <div class="testimonial-two_image">
                                <img width="56" height="56" src="https://media.licdn.com/dms/image/C4E03AQFV7_IEoQ-0Ww/profile-displayphoto-shrink_800_800/0/1516927509724?e=2147483647&v=beta&t=l1bupMvc3v99w_U42hcBTqslxesQEUtpBtjMVp-8DLo" style="border-radius: 50%;" alt="Author">
                            </div>
                            <span class="testimonial-two_name">jek qubert</span>
                            <span class="testimonial-two_position">Germany, Berlin</span>
                            <div class="testimonial-two_quote">
                                <svg width="30" height="30" viewbox="0 0 19 16" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.203 16c2.034 0 3.594-1.7 3.594-3.752 0-2.124-1.356-3.61-3.255-3.61-.339 0-.813.07-.881.07C3.864 6.442 5.831 3.611 8 2.124L5.492 0C2.372 2.336 0 6.3 0 10.62 0 14.087 1.966 16 4.203 16zm11 0c2.034 0 3.661-1.7 3.661-3.752 0-2.124-1.423-3.61-3.322-3.61-.339 0-.813.07-.881.07.271-2.266 2.17-5.097 4.339-6.584L16.492 0C13.372 2.336 11 6.3 11 10.62c0 3.468 1.966 5.38 4.203 5.38z" fill="currentColor" fill-rule="nonzero"></path>
                                </svg>
                            </div>
                            <p class="testimonial-two_text">We are like your services.</p>
                        </div>
                    </div>
                    <!-- Testimonial Item End -->
                    <!-- Testimonial Item Start -->
                    <div class="swiper-slide">
                        <div class="testimonial-two text-center">
                            <div class="testimonial-two_image">
                                <img width="56" height="56" src="https://img.lovehabibi.com/864764744/m/210207153008c5ae.jpg" style="border-radius: 50%;" alt="Author">
                            </div>
                            <span class="testimonial-two_name">John Wilson</span>
                            <span class="testimonial-two_position">America, Colorado</span>
                            <div class="testimonial-two_quote">
                                <svg width="30" height="30" viewbox="0 0 19 16" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.203 16c2.034 0 3.594-1.7 3.594-3.752 0-2.124-1.356-3.61-3.255-3.61-.339 0-.813.07-.881.07C3.864 6.442 5.831 3.611 8 2.124L5.492 0C2.372 2.336 0 6.3 0 10.62 0 14.087 1.966 16 4.203 16zm11 0c2.034 0 3.661-1.7 3.661-3.752 0-2.124-1.423-3.61-3.322-3.61-.339 0-.813.07-.881.07.271-2.266 2.17-5.097 4.339-6.584L16.492 0C13.372 2.336 11 6.3 11 10.62c0 3.468 1.966 5.38 4.203 5.38z" fill="currentColor" fill-rule="nonzero"></path>
                                </svg>
                            </div>
                            <p class="testimonial-two_text">We are like your services.</p>
                        </div>
                    </div>
                    <!-- Testimonial Item End -->
                    <!-- swiper-slide end-->

                </div>
            </div>
        </div>
        <!-- Testimonial Active End -->

    </div>
    <!-- Testimonial Section End -->





    <!-- Scroll Top Start -->
    <a href="#" class="scroll-top" id="scroll-top">
        <i class="lastudioicon-up-arrow"></i>
    </a>
    <!-- Scroll Top End -->
<%-include("./inc/footer.ejs")%>

<%-include("./inc/script.ejs")%>
</body>

</html>